
body {
    background-color: #b7ebff;
}


.calculator {
    background-color: #5eccf8;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 40px auto; 
}

.calculator__title {
    color: #ffffff;
    text-align: center;
}


.calculator__form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.calculator__label {
    margin-bottom: 5px;
}


.calculator__input {
    padding: 8px;
    border: 2px solid #0063b4;
    background-color: #a3ddff;
    border-radius: 8px;
    outline: none;
}


.calculator__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}


.calculator__button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}


.calculator__button--calculate {
    background-color: #03afff;
}

.calculator__button--calculate:hover {
    transform: scale(1.1);
}


.calculator__button--clear {
    background-color: #D62828;
    color: white;
}

.calculator__button--clear:hover {
    transform: scale(1.1);
}


.calculator__result-title {
    margin-top: 25px;
}

.calculator__result-text {
    color: #ffffff;
    font-weight: bold;
}

